.site-footer {
	color 				: $color__text-menu-footer;
	font-size 			: $font__size-footer;
	width 				: 100%;
	font-weight 		: 500;
	background-color 	: $color__background-footer;
	float 				: left;

	@media only screen and (min-width: $bp__tablet+1) {
		background-repeat	: no-repeat;
		background-position	: top center;
		background-size		: cover;
	}

	a,
	a:visited {
		color 			: $color__text-menu-footer;
		text-decoration : none;
	}
}

.footer-wrap {
	background-color: $color__background-footer;
}

.site-info {
	overflow 		: auto;
	text-align 		: center;
	padding-top 	: 1em;
	padding-bottom 	: 1em;
	max-width 		: $size__max-width;
	margin 			: 0 auto;
}

.copyright {

	@media screen and (min-width: $bp__footer) {
		padding-right 	: $size__pad-footer-items;
		display 		: inline-block;
		border-right 	: 1px solid $pink;

	}
}

.credits {

	@media screen and (min-width: $bp__footer) {
		display 		: inline-block;
		padding-left 	: $size__pad-footer-items;
		border-left 	: 1px solid $pink;
	}
}