.site-footer {
	background-color: $color__background-footer;
	color: $color__text-menu-footer;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: $font__size-footer;

	@include grid-column(12);

	a,
	a:visited {
		color: $color__text-menu-footer;
		text-decoration: none;
	}
}

.footer-wrap {
	max-width: $size__max-width;
	margin: 0 auto;
}

.site-info {
	overflow: auto;
	text-align: center;
}

@media screen and (min-width: $bp__footer) {
	.copyright {
		padding-right: $size__pad-footer-items;
		display: inline-block;
		border-right: 1px solid $pink;
	}

	.credits {
		display: inline-block;
		padding-left: $size__pad-footer-items;
		border-left: 1px solid $pink;
	}
}