@media only screen and (max-width: $bp__tablet) {
	.site-header {
		overflow: auto;
	}
}

.site-header {
	background 	: $color__background-header;
	color		: $light;
	position 	: relative;

	@media only screen and (min-width: $bp__tablet+1) {
		height: 93px;
	}

	a {
		color 			: $light;
		text-decoration : none;
	}
}

.header-wrapper {
	max-width	: $size__max-width;
	margin 		: 0 auto;
}

.site-branding {
	text-align: center;

	@media only screen and (min-width: $bp__tablet+1) {
		position: absolute;
		z-index: 900;
	}
}