.widget {
	margin 		: 0 0 1.5em;
	position 	: relative;
	padding-left: 3em;
	color: $color__text-widget;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	.content_wrap {
		display: none;
	}
}

.widget-title {
	display 		: inline-block;
	font-size 		: $font__size-widget-title;
	text-transform 	: uppercase;
	font-family 	: $font__main;
	color 			: $color__text-widget-title;
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}

.show_hide {
	font-size: 1.8em;
	margin-left: 0.25em;
}

$icons: contact, calendar_sub, lunch, news, forms;

@each $icon in $icons {
	.#{$icon}_widget {
		background-image		: url(images/#{$icon}_icon.png);
		background-repeat		: no-repeat;
		background-position-y 	: 5px;
	}
}