$light	: #fff;
$med	: #ccc;
$dark	: #020202;
$pink 	: #a5356d;
$yellow	: #fdbc12;
$tan 	: #feebc4;
$aqua 	: #0c9a99;
$navy 	: #2a5987;
$lightpink: #dbb9c5;

// Backgrounds
$color__background-body		: $light;
$color__background-screen	: #f1f1f1;
$color__background-hr		: #ccc;
$color__background-button	: #e6e6e6;
$color__background-pre		: #eee;
$color__background-ins		: #fff9c0;
$color__background-header 	: $pink;
$color__background-footer 	: $tan;

// Text colors
$color__text-screen			: #21759b;
$color__text-input			: #666;
$color__text-input-focus	: #111;
$color__link				: royalblue;
$color__link-visited		: purple;
$color__link-hover			: midnightblue;
$color__text-main			: #404040;

$color__headline-social 	: $light;
$color__text-social 		: $yellow;

// Border colors
$color__border-button		: #ccc #ccc #bbb;
$color__border-button-hover	: #ccc #bbb #aaa;
$color__border-button-focus	: #aaa #bbb #bbb;
$color__border-input		: #ccc;
$color__border-abbr			: #666;

// Menu colors
$color__bg-menu 				: $yellow;
$color__bg-menu-button			: $yellow;
$color__bg-menu-item-mobile		: $yellow;
$color__bg-menu-item			: $pink;
$color__bg-menu-item-hover 		: $pink;
$color__bg-menu-current			: $pink;
$color__bg-menu-social 			: $pink;
$color__text-menu-mobile		: $pink;
$color__text-menu				: $pink;
$color__text-menu-hover			: $yellow;
$color__text-menu-button		: $pink;
$color__text-menu-current		: $yellow;
$color__text-menu-current-hover	: $light;
$color__text-submenu			: $pink;

$color__text-menu-headers 		: $light;
$color__text-menu-footer 		: $pink;

