$font__main				: Cabin, sans-serif;
$font__code 			: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 				: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body	: 1.5;
$font__line-height-pre	: 1.6;
$font__cursive 			: 'cheddar_jackregular';
$font__size-header-menus: 14px;
$font__size-footer 		: 12px;
$font__social-icons 	: 36px;