.menu-bottom-header {
	overflow: auto;

	@media only screen and (max-width: $bp__tablet) {
		margin-bottom: 3.25em;
		float: left;	
	}

	@media only screen and (min-width: $bp__tablet+1) {
		width: 100%;
	}

	.nav-bottom_header {
		@media only screen and (min-width: $bp__tablet+1) {
			float: right;
			padding-right: 0.6em;
		}
	}

	.menu-items {
		list-style: none;
		margin-bottom: 0;
		
		@media only screen and (max-width: $bp__tablet) {
			margin-left: 1em;
		}
	}

	.menu-item {

		@media only screen and (min-width: $bp__menus-header) {
			padding: 0 0.3em;
			@include header_menus();

			a {
				font-weight: 600;
			}

		} // breakpoint

		@media only screen and (min-width: $bp__tablet+1) {
			font-size 			: $font__size-header-menus;
			text-transform 		: uppercase;
		}
	}

	svg {
		width: 0;
		
		@media only screen and (min-width: $bp__tablet) {
			width: 25px;
		}

		path {
			fill: $color__svg-bottom-header;
		}
	}

	.menu-icon-label {
		display 		: inline-block;
		vertical-align 	: top;
		padding 		: 0.25em;
	}
}


