.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	width			: 100%;
	margin-bottom	: $size__default-bot-marg;
	background 		: $color__bg-menu;
	@include shadow( 1px, 1px, 10px, 1px );

	@media only screen and (min-width: $bp__tablet+1) and (max-width: $bp__laptop) {
		padding-left: 230px;
	}

	ul {
		@extend %listreset;
		display 	: none;
		text-align 	: left;

		@media only screen and (min-width: $bp__menu-button+1) {
			float 	: right;
			display : block;
		}

		ul {
			display		: inherit;
			background	: $color__bg-menu-item-mobile;

			@media only screen and (min-width: $bp__menu-button+1) {
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				position	: absolute;
				left		: 0;
				z-index		: 99999;
				transition 	: visibility 0s ease 0.3s,opacity 0.3s ease;
				visibility 	: hidden;
				opacity 	: 0;
				left 		: 0;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						padding 	: 0.5em 3em;
						border-left : none;
					}
				}
			}

			li {

				@media only screen and (min-width: $bp__menu-button+1) {
					width 			: 100%;
				}

				&:last-child {
					border-bottom: none;

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

				a:after {
					content: "";
				}

				&:hover {

					> a {
						color: $yellow;
					}

					> ul {

						@media only screen and (min-width: $bp__menu-button+1) {
							left: 100%;
							top : 0;
						}
					}
				}
			}

			a {
				padding: 0.5em 2em;

				@media only screen and (min-width: $bp__menu-button+1) {
					padding 	: 0.5em;
					color 		: $color__text-submenu;
					border-left : none;
					white-space : nowrap;
					min-width 	: 175px;
				}
			}

			li {
				border: none;

				&:last-child {
					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}
			}
		}

		li:hover > ul {
			left: 0;
		}
	}
	li {

		@media only screen and (min-width: $bp__menu-button+1) {
			float	 	: left;
			position 	: relative;
			padding 	: 0.5em 0;

			&:first-child a {
				border-left: none;
			}
		}

		&:hover {
			background 	: $color__bg-menu-item-hover;
			transition 	: background 0.25s ease-in-out;

			> a {
				color 		: $color__text-menu-hover;
				transition 	: background 0.25s ease-in-out;
			}

			> ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					display 	: block;
					visibility 	: visible;
					opacity 	: 1;
					display 	: block;
					top 		: 2.7em;
				}
			}
		}

		&:not(.menu-item-has-children) {
			padding-top: calc( 0.5em + 3px );
		}
	}

	.nav-menu + .menu-item {

	}

	a {
		padding 		: 0.5em 1em;
		display			: block;
		text-decoration	: none;
		color 			: $color__text-menu-mobile;
		line-height 	: 1em;
		font-weight 	: 700;

		@media only screen and (min-width: $bp__menu-button+1) {
			color 		: $color__text-menu;
			border-left	: 1px solid $pink;
			padding 	: 0.25em 1em;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {
		background: $color__bg-menu-current;

		> a {
			color: $color__text-menu-current;
		}

		&:hover > a {
			color: $color__text-menu-current-hover;
		}

		& + .menu-item a {
			border-left: none;
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}
	}
}// .main-nav

// Center Menu
.menu-main-menu-container {
	max-width	: $size__max-width;
	margin		: 0 auto;
	text-align	: center;
}

/* Small menu */
.menu-toggle {
	@extend %menutoggle;
	background		: $color__bg-menu-button;

	&:hover,
	&:active,
	&:focus {
		background		: $color__bg-menu-button;
	}

	@media only screen and (min-width: $bp__laptop) {
		display 	: none;
		background 	: $color__bg-menu-button;
		color 		: $color__text-menu-button;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin	: 0 0 $size__default-bot-marg;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float	: left;
	width	: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float		: right;
	text-align	: right;
	width		: 50%;
}

.menu-item-has-children {

	> a:after {
		font-family : dashicons;
		position 	: relative;

		@media only screen and (min-width: $bp__menu-button+1) {
			margin-left : 0.25em;
			top 		: 3px;
		}

		.nav-menu & {

			@media only screen and (min-width: $bp__menu-button+1) {
				content: "\f347"; // down chevron
			}

		}

		.sub-menu & {
			float 		: right;
			position 	: relative;
			top 		: 50%;

			@media only screen and (min-width: $bp__menu-button+1) {
				content 	: "\f345"; // right chevron
				margin-right: 0.25em;
			}
		}
	}
}
