.social-menu {
	background 		: $color__bg-menu-social;
	text-align 		: center;
	padding 		: 0.75em;

	@media only screen and (min-width: $bp__tablet+1) {
		margin-bottom: 310px;
		@include opacity(0.75);
	}
}

.social-headline {
	color 			: $color__headline-social;
	font-family 	: $font__cursive;
	font-size 		: $size__max-width-social-icon;
	margin-bottom 	: 0.25em;
}

.nav-social {

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
	}

	.menu-item {
		display 	: inline-block;
		position 	: relative;
		margin 		: 0 0.5em;
		line-height : 1.5em;
	}

	a[href*="facebook.com"] {
		@include socialicon( $fa-var-facebook );
	}
	a[href*="twitter.com"] {
		@include socialicon( $fa-var-twitter );
	}
	a[href*="plus.google.com"] {
		@include socialicon( $fa-var-google-plus );
	}
	a[href*="pinterest.com"] {
		@include socialicon( $fa-var-pinterest );
	}
	a[href*="tumblr.com"] {
		@include socialicon( $fa-var-tumblr );
	}
	a[href*="youtube.com"] {
		@include socialicon( $fa-var-youtube );
	}
	a[href*="flickr.com"] {
		@include socialicon( $fa-var-flickr );
	}
	a[href*="instagram.com"] {
		@include socialicon( $fa-var-instagram );
	}
	a[href*="linkedin.com"] {
		@include socialicon( $fa-var-linkedin );
	}
	a[href$=".rss"], 
	a[href$="rss.xml"], 
	a[href*="/feed/"],
	a[href*="/rss/"] {
		@include socialicon( $fa-var-rss );
	}

}