.social-menu {
	background 	: $color__bg-menu-social;
	text-align 	: center;
	padding 	: 0.75em;

	@include opacity(0.75);
}

.social-headline {
	color 			: $color__headline-social;
	font-family 	: $font__cursive;
	font-size 		: 36px;
	margin-bottom 	: 0.25em;
}

.nav-social {

	.screen-reader-text {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;

		.menu-item {
			display 	:  inline-block;
			position 	: relative;
			margin 		: 0 0.5em;
			line-height : 1.5em;
		} 
	}

	a {
		@include hidetext();
	}

	.fa:before {
		color 		: $color__text-social;
		font-size 	: $font__social-icons;
	}
}